<!--bottom-->
<table  width="100%"  align="center" border=0 cellpadding=0 cellspacing=0>
  <tr>
	<td class=navi>

	<img src="/ESST/images/leftyellow.jpg" width=15 height=30 border=0
	align="left" valign="middle" vspace=0 hspace=0>
	</td>

	<td class="navi"  width=25  >
	<a href="http://www-cryst.bioc.cam.ac.uk"
	onmouseover="act('button1')" onmouseout="inact('button1')">
	<img src="/ESST/images/yellowOFF.jpg" width=20 height=20
	name="button1" border=0 vspace=0 hspace=0></a>
	</td>

	<td class="navi"  width=85 >
	www-cryst	
	</td>

	<td class="navi"  width=25 >
	<a href="http://www-cryst.bioc.cam.ac.uk/people" onmouseover="act('button2')"
	onmouseout="inact('button2')">
	<img src="/ESST/images/yellowOFF.jpg" width=20 height=20
	name="button2" border=0 vspace=0 hspace=0></a>
	</td>
	
	<td class="navi" width=85 >

	People
	</td>
	
	<td class="navi"  width=25 >

	<a href="http://www-cryst.bioc.cam.ac.uk/about" onmouseover="act('button3')"
	onmouseout="inact('button3')">
	<img src="/ESST/images/yellowOFF.jpg" width=20 height=20
	name="button3" border=0 vspace=0 hspace=0></a>
	</td>
	
	<td class="navi"  WIDTH=85 >
	Contact
	</TD>
	
	<TD class="navi"   WIDTH=25 ><A
	HREF="http://www-cryst.bioc.cam.ac.uk/databases" ONMOUSEOVER="act('button4')"
	ONMOUSEOUT="inact('button4')">

	<IMG SRC="/ESST/images/yellowOFF.jpg" width=20 height=20
	name="button4" border=0 vspace=0 hspace=0></a>
	</td>

	
	<td class="navi" width=85 >
	Databases
	</td>
	
	<td class="navi"  width=25  >
	<a href="http://www-cryst.bioc.cam.ac.uk/servers"  onmouseover="act('button5')"
	onmouseout="inact('button5')">
	<img src="/ESST/images/yellowOFF.jpg" width=20 height=20
	name="button5" border=0 vspace=0 hspace=0></a>
	</td>

	<td class="navi"  width=85>
	Servers
	</td>

	
	<td class="navi" >
	<img src="/ESST/images/rightyellow.jpg" width=15 height=30
	border=0 align="right" valign="middle" vspace=0 hspace=0>
	</td>
	
  </tr>
</table>
